@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        @RenderPage("Cabecalho.cshtml")

        <p>Esta é a pagina nova</p>
    </div>
</body>
</html>
