@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <form action="" method="post">
            <label>Nome</label>
            <input name="Nome"/>
            <button type="submit">Enviar</button>
        </form>

        @if (IsPost)
        {
              
            var nome = Request.Form["Nome"];
            <p>Bem vindo @nome</p>
        }
    </div>
</body>
</html>
