@using Cadastro_de_contatos.Models;

@model ContatoModel;

@{
    ViewData["Title"] = "Criar contato";
}

<div class="text-center">
    <h3>Criar Contato</h3>

    <form asp-controller="Contato" asp-action="Criar" method="post">
        <div class="mb-3">
            <label for="nome" class="form-label">Nome</label>
            <input type="text" asp-for="Nome" class="form-control" id="nome" name="nome" placeholder="Informe o nome">
        </div>
        <div class="mb-3">
            <label for="celular" class="form-label">Celular</label>
            <input type="text" asp-for="Celular" class="form-control" id="celular" name="celular" placeholder="Informe o celular">
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">E-mail</label>
            <input type="email" asp-for="Email" class="form-control" id="email" name="email" placeholder="Informe o nome">
        </div>
        <div class="mb-3">
            <label for="aniversario" class="form-label">Aniversário</label>
            <input type="date" asp-for="Aniversario" class="form-control" id="aniversario" name="aniversario">
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary btn-block">Salvar</button>
            <button class="btn btn-light btn-block">Voltar</button>
        </div>
    </form>
</div>