@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Editar contato";
}

<div class="text-center">
    <h3>Criar Contato</h3>
    <div class="mb-3">
        <label for="nome" class="form-label">Nome</label>
        <input type="text" class="form-control" id="nome" name="nome" placeholder="Informe o nome">
    </div>
    <div class="mb-3">
        <label for="celular" class="form-label">Celular</label>
        <input type="text" class="form-control" id="celular" name="celular" placeholder="Informe o celular">
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">E-mail</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Informe o nome">
    </div>
    <div class="mb-3">
        <label for="aniversario" class="form-label">Aniversário</label>
        <input type="date" class="form-control" id="aniversario" name="aniversario">
    </div>
    <div class="mb-3">
        <button class="btn btn-primary btn-block">Salvar</button>
    </div>
</div>