@model Aula_02.NetFramework.Models.Alunos

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TrazerAlunos</title>
</head>
<body>
    <div> 
        Resultado da Pesquisa: <br />
        @Model.Nome;
    </div>
</body>
</html>
