@model Aula_02.NetFramework.Models.Alunos

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Aluno Incluído</title>
</head>
<body>
    <div> 
        Codigo: @Model.ID <br />
        Nome: @Model.Nome <br />
        CPF: @Model.CPF <br />
    </div>
</body>
</html>
